.calendar {
  font-family: Arial, sans-serif;
  font-weight: 100;
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

h2 {
  text-align: center;
  margin-bottom: 10px;
}

.days-of-week {
  display: flex;
  font-weight: bold;
  justify-content: space-between;
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 100px);
  gap: 8px;
}

.calendar-day {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: fit-content;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.done-btn {
  position: absolute;
  top:5px;
  right: 24px;
  padding: 4px;
  border: none;
  border-radius: 4px;
  background-color: #00ff04;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.done-btn:hover {
  background-color: #47cc00;
}
